#grid-container {
    background-color: beige;
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
}

.initialize-pixel {
    background-color: cadetblue;
    width: 29px;
    height: 29px;
    border: 1px solid #1f2937;
}

.mouse-over {
    background-color: coral;
}